.section {
    margin-top: 50px;
    text-align: center;
}

body {
    font-family: 'Jua', sans-serif;
    background-color: #d1a8e9;
}

.title {
    font-family: 'Jua', sans-serif;
    line-height: 1.67;
    text-align: center;
}

.subtitle {
    font-family: 'Jua', sans-serif;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin-bottom: 5%;
}

.file-upload {
    background-color: #aa75c9;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-content {
    display: none;
    text-align: center;
    margin-bottom: 30%;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 4px dashed #831fb2;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #d1a8e9;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    text-transform: uppercase;
    color: #ffffff;
    padding: 60px 0;
    font-family: 'Varela Round';
    font-weight: bold;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.animated.bounce {
    font-family: 'Varela Round';
    font-size: 2rem;
    font-weight: bold;
    color:rgb(54, 12, 45)
}

.try-again-text-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.try-again-btn {
    width: 60%;
    margin-top: 5%;
    color: #fff;
    background: #35465d;
    border: solid 1.5px #35465d;
    padding: 10px;
    border-radius: 40px;
    border-bottom: 4px solid #202833;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.try-again-btn:hover {
    background: #35465d;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.try-again-btn:active {
    border: 0;
    transition: all .2s ease;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
}

.footer p {
    font-weight: 50;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    transition: opacity 2s;
}

.footer a:hover {
    color: #ffffff;
}

.footer a:visited {
    color: #ffffff;
}

.footer a:active {
    color: #ffffff;
}

.result-message {
    font-family: 'Varela Round';
    font-size: 2rem;
    font-weight: bold;
}

.color-explain {
    font-size: 1.5rem;
}


.Red-color-title {
    color: #ff0000;
}

.Orange-color-title {
    color: #FFA500;
}

.Yellow-color-title {
    color: #FFFF00;
}

.Green-color-title {
    color: #008000;
}

.Blue-color-title {
    color: #0000FF;
}

.Navy-color-title {
    color: #000080;
}

.Purple-color-title {
    color: #800080;
}

.Black-color-title {
    color: #000000;
}

.White-color-title {
    color: #FFFFFF;
}

.Gray-color-title {
    color: #808080;
}

.Pink-color-title {
    color: #FF00FF;
}

.Mint-color-title {
    color: #008080;
}

.Skybue-color-title {
    color: #00FFFF;
}

.Brown-color-title {
    color: rgb(91, 50, 7);
}